* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: url(images/blue-purple-gradient-fluid-abstract-minimalistic-background_6241863.jpg!bw700);
  background-size: center;
}