* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: url(images/blue-purple-gradient-fluid-abstract-minimalistic-background_6241863.jpg!bw700 );
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Responsive Design Media Queries */
/* Small phones */
@media (max-width: 480px) {}

/* Phones */
@media (max-width: 768px) {}

/* Tablets / small laptops */
@media (max-width: 1024px) {}

/* Desktops */
@media (min-width: 1025px) {}