* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #42047E;
      background: linear-gradient(90deg, rgba(66, 4, 126, 1) 0%, rgba(7, 244, 158, 1) 100%)
}

main {
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 1rem;
}

/* Responsive Design Media Queries */
/* Small phones */
@media (max-width: 480px) {}

/* Phones */
@media (max-width: 768px) {}

/* Tablets / small laptops */
@media (max-width: 1024px) {}

/* Desktops */
@media (min-width: 1025px) {}